/* Inserta tu codigo aqui */
.sedes{
	width: 200px;
	background: yellow;
	border: none;
	padding: 5px;
}
.col-sm-6 h3{
	display: inline-block;
	padding: 5px;
}
.pd-10{
	margin-top: 20px;
}
.ing-foto{
	display: inline-block;
	padding-left: 30px;
	width: 80%;
} 
#boton{
	margin-top: 20px;
}
.sedes{
	margin-left: 20px;
	width: 300px;
}