/* Inserta tu codigo aqui */
body{
	background-image: url("../fotos/fondo.jpg");
	background-size:100% 200%;
	background-repeat: no-repeat;
	color: white;


}
.sedes{
	width: 200px;
	background: white;
	color: black;
	border: none;
	padding: 5px;
}
.col-sm-6 h3{
	display: inline-block;
	padding: 5px;
}
.pd-10{
	margin-top: 20px;
}
.ing-foto{
	display: inline-block;
	padding-left: 30px;
	width: 80%;
} 
#boton{
	margin-top: 20px;
}
.sedes{
	margin-left: 20px;
	width: 300px;
}
#result{
	font-size: 20px;
	
}